<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="myCard"
class="com.first.model.CreditCard" /> 
<!--   <bean id="myAccount"
class="com.first.model.SavingAccount" >
<constructor-arg ref = "myCard" /> -->

<bean id="myAccount"
class="com.first.model.CurrentAccount"
autowire="byType"
init-method ="onInit"
destroy-method = "onDestroy"
 >
<!--  <property name = "creditCard" ref = "myCard" /> -->
</bean> 
 </beans>